.section-events {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px 20px;

  &__header {
    text-align: left;
    max-width: 800px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 1.125rem;
    color: #555;
    line-height: 1.6;
  }
}
